*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    height:300px;
    background-color: rgba(129, 129, 129, 0.363);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    
}
.box{
    height: 130px;
    width: 130px;
    border: 1px solid black;
    border-radius:50%;
    align-self: center;
}
button{
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 50%;
    align-self: center;
    border:none;
    border-radius: 10px;
    cursor: pointer;
}
p{
    align-self: center;
}